
body {
  font-family: 'Arial', sans-serif;
}

/* Style the first li of it's parent */
ul li:first-child {
  background: lightblue;
}

/* Style the last li of it's parent */
ul li:last-child {
  background: lightcoral;
}

/* Style every odd item */
ul li:nth-child(odd) {
  background-color: lightgreen;
}

/* Style every even item */
ul li:nth-child(even) {
  background-color: lightpink;
}

/* Style every nth Item */
ul li:nth-child(5) {
  background-color: lightcoral;
}

/*  Style every 4th item */
ul li:nth-child(4n) {
  background-color: orange;
}

/* Style the only child */
ul li:only-child {
  background-color: black;
  color: white;
  /* works only if there is 1 child */
}