* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',sans-serif;
    max-width: 100%;
}

.hero {
    background-color:  #1C6EFF;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

.hero .head-content {
    margin: 20px;
    h1 {
        padding-top: 20px;
        color: white;   
        font-weight: bold;
        font-size: xx-large;
    }

    p {
        color: white;
        text-align: end;
    }
}

.section {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
   
}

.box {
    max-width: 300px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    img {
        justify-content: center;
        height: 172px;
        width: 239px;
    }

    h1 {
        margin: 5px;
        font-weight: bold;
        justify-content: right;
    }

    p {
        margin: 10px;
    }
}

.about {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 36px;

    }

    pre {
        font-family: inherit;   
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    hr {
        width: 700px;
    }
}

.footer {

    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 20px;

    a {
        color: black;
        text-decoration: none;
        font-size: x-small;
        margin: 5px;
    }

    p {
        font-size: 16px;
    }
}

@media(max-width:576px) {
    .hero {
        grid-template-columns: auto;
        justify-content: center;
        
        img {
            margin-left: 55px;
        }
    }

    .hero .head-content{
       margin: none;

       p {
        text-align: center;
       }
    }

    .section {
        grid-template-columns: auto;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .box {
        max-width: 100%;
        margin-bottom: 30px;

        img {
            width: 450px;
            height: 300px;
        }
    }

    .about {
        pre {
            font: inherit;
            font-size: smaller;
            font-weight: 400;
        }
    }

}